* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.ml10 {
  margin-left: 10px;
}

.mt27 {
  margin-top: 27px;
}

.margin-0 {
  margin: 0;
}

.btm-shadow {
  box-shadow: 0px 1px 3px #ccc;
}

#page-wrapper {
  padding: 0 5px;
  min-height: 568px;
  background-color: #f1f1f1;
  margin-top: 43px;
}

.main {
  padding: 0 10px;
}

.heading1 {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 7px;
}

.input-group .ig-label {
  background: #edf7f9;
  padding: 11px 12px;
  font-size: 12px;
  letter-spacing: 0.7px;
  min-width: 151px;
  text-align: left;
}

.input-group .ig-input {
  height: 38px;
}

/* Custome Radio Button CSS Start*/

.custome_radio {
  margin: 0;
}

.custome_radio:checked,
.custome_radio:not(:checked) {
  position: absolute;
  left: -9999px;
}

.custome_radio:checked + label,
.custome_radio:not(:checked) + label {
  position: relative;
  padding-left: 22px;
  padding-right: 10px;
  padding-top: 0px;
  cursor: pointer;
  line-height: 20px;
  letter-spacing: 0.03rem;
  font-weight: bold;
  color: #202020;
  display: inline;
  margin-bottom: 0;
  font-size: 12px;
}

.custome_radio:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: -2px;
  width: 14px;
  height: 14px;
  border: 2px solid #757575;
  border-radius: 100%;
  background: transparent;
}

.custome_radio:checked + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: -2px;
  width: 14px;
  height: 14px;
  border: 2px solid #00aeef;
  border-radius: 100%;
  background: #fff;
}

.custome_radio:checked + label:after,
.custome_radio:not(:checked) + label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #00aeef;
  position: absolute;
  top: 3px;
  left: 5px;
  border-radius: 100%;
}

.custome_radio:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.custome_radio:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.custome_radio + label:after,
.custome_radio + label:before {
  box-sizing: unset;
}

.active_custome_radio {
  background: #3a587a;
}
/* Custome Radio Button CSS End*/

#busexistinggpsdata table thead {
  background-color: #005574;
  color: #fff;
  font-size: 12px;
}

#busexistinggpsdata table thead th {
  text-align: center;
  border-bottom: 0;
}

#busexistinggpsdata table thead tr th {
  border-left: solid 1px #014864;
  border-right: solid 1px #014864;
}

#busexistinggpsdata table tbody tr td {
  border-left: solid 1px #d9d9d9;
  border-right: solid 1px #d9d9d9;
}

#busexistinggpsdata table tbody tr td:nth-child(1) {
  text-align: center;
}

#busexistinggpsdata table tbody tr td:nth-child(3) {
  text-align: center;
}

#busexistinggpsdata table tbody tr td:nth-child(5) {
  text-align: center;
}

#busexistinggpsdata table {
  background-color: #fff;
  margin-bottom: 5px;
}

.btn:active:focus,
.btn:focus {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-orange {
  color: #fff;
  background-color: #ff6000;
  border-color: #ff6000;
  padding: 7px;
  min-width: 80px;
}

.btn-orange:active,
.btn-orange:focus,
.btn-orange:hover {
  background: #e25500;
  color: #fff;
}

.btn-outline-orange {
  color: #ff6000;
  background-color: transparent;
  background-image: none;
  border-color: #ff6000;
  padding: 7px;
  min-width: 80px;
}

.btn-outline-orange:active,
.btn-outline-orange:focus,
.btn-outline-orange:hover {
  color: #fff;
  background-color: #ff6000;
  border-color: #ff6000;
}

.form-group {
  margin-bottom: 5px;
}

.gps-monitoring-search .input-group .ig-label {
  min-width: 80px;
}

.gps-monitoring-search .datepicker {
  cursor: pointer;
}

#selbus .chosen-container-single .chosen-drop {
  width: 200px;
}

#dtrange input {
  font-weight: 700;
  letter-spacing: 0.03rem;
  font-size: 12px;
}

.input-search-icon {
  position: relative;
}

.input-search-icon::before {
  position: absolute;
  content: "";
  background: url(../chosen/search.svg) no-repeat 9px 10px;
  background-size: 15px 15px;
  width: 25px;
  height: 34px;
}

#myInputTextField {
  padding-left: 27px;
}

#myInputTextField::placeholder {
  color: #666666;
  font-size: 12px;
  letter-spacing: 0.1rem;
}

#BusGPSDetail table {
  font-size: 12px;
  color: Black;
  width: 100% !important;
}

#BusGPSDetail table thead,
#BusGPSDetail table th {
  /*background-color: #1C69B7;*/
  color: #fff;
  border-left: 1px solid #ddd;
  text-align: center;
}

#BusGPSDetail table > tbody > tr > td,
#BusGPSDetail table > thead > tr > th {
  /*border: 1px solid black !important;*/
  padding: 5px !important;
}

#BusGPSDetail table > tbody > tr > td,
#BusGPSDetail table > thead > tr > th {
  overflow: hidden;
  text-overflow: ellipsis;
  /*max-width:100px;*/
}

#BusGPSTable {
  display: block;
  height: calc(100vh - 145px);
  position: relative;
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;
}

#BusGPSTable thead {
  position: relative;
  display: block;
  width: 100%;
  overflow: visible;
}

#BusGPSTable thead th {
  height: 32px;
  border: 1px solid black;
  background-color: #005575 !important;
  padding: 6px 2px 6px 2px;
}

#BusGPSTable thead td {
  height: 32px;
  font-weight: bold;
  border: 1px solid black;
  padding: 6px 2px 6px 2px;
  background-color: #005575 !important;
}

#BusGPSTable thead tr:nth-child(1) th:nth-child(1) {
  position: relative;
  display: table-cell;
  background-color: #005575 !important;
  font-weight: bold;
  min-width: 50px !important;
  max-width: 50px !important;
}

#BusGPSTable thead tr:nth-child(1) th:nth-child(2) {
  position: relative;
  display: table-cell;
  background-color: #005575 !important;
  font-weight: bold;
  min-width: 80px !important;
  max-width: 80px !important;
}

#BusGPSTable thead tr:nth-child(1) th:nth-child(3) {
  position: relative;
  display: table-cell;
  background-color: #005575 !important;
  font-weight: bold;
  min-width: 130px !important;
  max-width: 130px !important;
}

#BusGPSTable thead tr:nth-child(1) th:nth-child(4) {
  position: relative;
  display: table-cell;
  background-color: #005575 !important;
  font-weight: bold;
  min-width: 250px !important;
  max-width: 250px !important;
}

#BusGPSTable thead tr:nth-child(1) th:nth-child(5) {
  position: relative;
  display: table-cell;
  background-color: #005575 !important;
  font-weight: bold;
  min-width: 154px !important;
  max-width: 154px !important;
}

#BusGPSTable thead tr:nth-child(1) th:nth-child(6) {
  position: relative;
  display: table-cell;
  background-color: #005575 !important;
  font-weight: bold;
  min-width: 154px !important;
  max-width: 154px !important;
}

#BusGPSTable thead tr:nth-child(1) th:nth-child(7) {
  position: relative;
  display: table-cell;
  background-color: #005575 !important;
  font-weight: bold;
  min-width: 154px !important;
  max-width: 154px !important;
}

/*tbody*/
#BusGPSTable tbody {
  position: relative;
  display: block;
  width: 99%;
  height: calc(100vh - 223px);
  /* height: 150px; */
  overflow: auto;
  text-align: center;
}

#BusGPSTable tbody td {
  height: 32px;
  border: 1px solid black;
  padding: 6px 2px 6px 2px;
}

#BusGPSTable tbody tr td:nth-child(1) {
  position: relative;
  display: table-cell;
  background-color: #e1e6e8 !important;
  font-weight: bold;
  min-width: 50px !important;
  max-width: 50px !important;
}

#BusGPSTable tbody tr td:nth-child(2) {
  position: relative;
  display: table-cell;
  background-color: #e1e6e8 !important;
  font-weight: bold;
  min-width: 80px !important;
  max-width: 80px !important;
}

#BusGPSTable tbody tr td:nth-child(3) {
  position: relative;
  display: table-cell;
  background-color: #e1e6e8 !important;
  font-weight: bold;
  min-width: 130px !important;
  max-width: 130px !important;
}

#BusGPSTable tbody tr td:nth-child(4) {
  position: relative;
  display: table-cell;
  background-color: #e1e6e8 !important;
  font-weight: bold;
  min-width: 250px !important;
  max-width: 250px !important;
}

#BusGPSTable tbody tr td:nth-child(5) {
  position: relative;
  display: table-cell;
  background-color: #e1e6e8 !important;
  font-weight: bold;
  min-width: 154px !important;
  max-width: 154px !important;
}

#BusGPSTable tbody tr td:nth-child(6) {
  position: relative;
  display: table-cell;
  background-color: #e1e6e8 !important;
  font-weight: bold;
  min-width: 154px !important;
  max-width: 154px !important;
}

#BusGPSTable tbody tr td:nth-child(7) {
  position: relative;
  display: table-cell;
  background-color: #e1e6e8 !important;
  font-weight: bold;
  min-width: 154px !important;
  max-width: 154px !important;
}

.total {
  min-width: 102px !important;
  max-width: 102px !important;
}

.scs {
  min-width: 102px !important;
  max-width: 102px !important;
}

.fail {
  min-width: 102px !important;
  max-width: 102px !important;
}

.nowrap {
  white-space: nowrap;
}

.bgwhite {
  background-color: White;
}

.bgyellow {
  background-color: #ffff8e;
}

.bggreen {
  background-color: greenyellow;
}

.bgred {
  background-color: #f99292;
}

/* width */
#BusGPSTable tbody::-webkit-scrollbar {
  width: 20px;
}

/* Track */
#BusGPSTable tbody::-webkit-scrollbar-track {
  background: #d8e6f1;
}

/* Handle */
#BusGPSTable tbody::-webkit-scrollbar-thumb {
  background: #98a1a8;
}

/* Handle on hover */
#BusGPSTable tbody::-webkit-scrollbar-thumb:hover {
  background: #005575;
}

#operatorDiv {
  padding: 0 15px;
}

#enqWrap {
  padding: 0 15px;
}

#duration {
  padding: 0 15px;
}

#frDt {
  padding: 0 7px 0 15px;
}

#toDt {
  padding: 0 15px 0 7px;
}

.cal-icon {
  position: absolute;
  top: 10px;
  left: 100px;
  z-index: 7;
  width: 15px;
  height: 15px;
}

.cal-icon svg {
  fill: #595959;
}

#ChartDate {
  padding-left: 27px;
  color: #444444;
}

#btnTripInfo {
  padding: 7px 16px;
  margin-right: 7px;
}

#btnExportExcel {
  padding: 7px 15px;
}

#TripFilters {
  margin-bottom: 15px;
}

#TripFilters .form-check-label {
  margin-right: 2px;
}

.tripwise-gps-search {
  box-shadow: 0px 1px 3px #ccc;
  color: #777777;
}

.tripwise-gps-search .input-group .ig-label {
  min-width: 80px;
}

#TripFilters .tf-checkbox {
  width: auto;
  margin-right: 15px;
}

@media (max-width: 768px) {
  #operatorDiv {
    padding: 0;
  }

  #enqWrap {
    padding: 0;
  }

  #duration {
    padding: 0;
  }

  #frDt {
    padding: 0px;
    margin-bottom: 15px;
  }

  #toDt {
    padding: 0px;
    margin-bottom: 15px;
  }

  #page-wrapper .btn-wrap {
    margin-bottom: 15px;
  }

  #selbus .chosen-container-single .chosen-drop {
    width: 100%;
  }
}
